// MIXINS
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Blog LISTING!
.home-page {
  min-height: 100vh;

  // Styling for the footer
  footer {
    padding: 50px 0 65px;
    .list-inline {
      margin: 0;
      padding: 0;
    }
    .copyright {
      font-size: 14px;
      margin-bottom: 0;
      text-align: center;
    }
  }
}

.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  @include background-cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 200px 0 150px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 200px 0;
    }
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
      font-weight: 700;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;

      a {
        color: white;
      }
    }
    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}

.card-img-top-Ab {
  // height: 230px !important;
  // width: 100% !important;
  padding: 10px 40px !important;
  text-align: center;
}
.card-title-Ab {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-weight: bold;
  font-size: 26px;
}
.card-text-Ab {
  height: 50px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-button-Ab {
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-family: var(--font-family-primary);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.15rem;
  padding-top: 1.5rem !important /* @TODO temp !!!*/;
  padding: 0.75rem 1.5rem;
  background-color: #f47625;
  border-color: hsl(210, 5%, 36%);
  box-shadow: 0 5px 0 #be5f23;
  bottom: -45px;
  position: absolute;
  right: 1.5rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;

  &:hover {
    background-color: #f47625;
    border-color: hsl(210, 5%, 41%);
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
    color: #ffffff;
    text-decoration: none;
  }
}

.card-body-wrapper-Ab {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.15);
  min-height: 280px;
  position: relative;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 30px;

  cursor: pointer;
}
