// Components
@import "./components/header";
@import "./components/loading";
@import "./components/cartItem";
@import "./components/orderDetail";

// Pages
@import "./pages/about";
@import "./pages/signin";
@import "./pages/profile";
@import "./pages/homePage";
@import "./pages/productdetail";

// font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", "Helvetica" !important;
  // overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.clickable {
  cursor: pointer;
}

.base-page {
  padding-top: 150px;
  padding-bottom: 50px;
  color: black;
  background-color: #ecedee;
  min-height: 100vh;

  .page-header-title {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.index-page {
  min-height: 100vh;
}

.absolute {
  position: absolute;
}

.page-footer {
  border-top: 0.1px solid;
  border-color: #cccccc;
  min-height: 10vh;
  padding: 15px;
  background-color: #ecedee;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  transition: 0.3s;

  .social-media {
    display: flex;
    justify-content: center;
  }

  i {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.4s;
    color: #096fb9;
    background-color: transparent;
  }

  .nounderline {
    text-decoration: none !important;
  }

  i:hover {
    color: #d193e6;
  }
  i {
    font-size: 1.6em;
  }
  .ri-mail-fill {
    color: #db4437;
  }
  .ri-facebook-fill {
    color: #4285f4;
  }
  .ri-chrome-fill {
    color: #ffcd46;
  }
  .ri-github-fill {
    color: #1da462;
  }
}
